//////////////////
//  TYPE  ///
////////////////
h1,
h2,
h3 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-bottom: 1.25em;

  font-size: 2em;
  letter-spacing: 0.01em;
  line-height: 1.35em;
}

h2 {
  margin-bottom: 0.5em;

  font-size: 1.25em;
  letter-spacing: 0.01em;
  line-height: 1.35em;
}

h3 {
  margin-bottom: 0.5em;

  font-size: 1em;
  letter-spacing: 0.01em;
  line-height: 1.35em;
}

p {
  margin-bottom: 1em;

  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.45em;
  text-rendering: optimizeLegibility;
}

a {
  color: $default-font;
  text-decoration: none;
  &:hover {
    color: $hover-color;
    cursor: pointer;
  }
}

//////////////////
//  LIST STYLES  ///
////////////////

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;

  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.45em;
  text-rendering: optimizeLegibility;
}

ul.inline li {
  display: inline-block;
}

ul.bullets {
  list-style-type: disc;
  list-style: inside;
}

//////////////////
//  ICONS  ///
////////////////

.burger-icon {
  height:50px; 
  line-height:50px; 
  font-size:1.5em
}

//////////////////
//  OVERLAY  ///
////////////////

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: $white;

  opacity: 0;
  z-index: 8;
}


//////////////////
//  IMAGES  ///
////////////////

//FIX THIS
.main-content img {
  width: 90%;
}



//////////////////
//  UTILITIES  ///
/////////////////

.hide {
  display: none;
}

.small-hide {
  @include mq(small-only) {
    display: none;
  }
}

.small-reveal {
  @include mq(small-only) {
    display: block;
  }
  @include mq(medium) {
    display: none;
  }
}

