html,
body {
  height: 100%;
}
body {
  @include mq(medium) {
    font-size: 100%;
  }

  background: $body;

  color: $default-font;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 115%;
}


//////////////////
//  GRID  ///
////////////////
.grid {
  @include clearfix();

  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.col {
  display: inline;
  float: left;
  width: 100%;

  margin-bottom: 1.5em;

  @include mq(medium) {
    margin-bottom: 0;
  }
}

@include mq(medium) {
  .col.half {
    width: 50%;
  }
}

.col.list {
  margin-bottom: 0;
}


//////////////////
//  JAVASCRIPT  ///
////////////////

.js-animate.page {
  display: none;
  &.active {
    display: block;
  }
}



///////////////////
//  ANIMATIONS  ///
///////////////////

.csstransforms.csstransitions .page {
  transform: translateY(20px);

  opacity: 0;
}

.csstransforms.csstransitions .page.ease {
  -webkit-transition: opacity 0.8s ease, transform 0.35s ease-in-out;
  transform: translateY(0);

  opacity: 1;
}

.csstransforms.csstransitions .drawer .menu__drawer {
  -webkit-transition: transform 0.35s ease-in-out;
  transform: translateY(-150px);
}

.csstransforms.csstransitions .drawer.open .menu__drawer {
  -webkit-transition: transform 0.25s ease-in-out;
  transform: translateY(50px);
}

.no-csstransforms.no-csstransitions .drawer .menu__drawer {
  top: -150px;
}

//  FIX THIS //

.csstransforms.csstransitions .drawer.open .overlay {
  -webkit-transition: all 0.8s ease;
  opacity: 0.75;
  display: block;
}

.no-csstransforms.no-csstransitions .drawer.open .overlay {
  opacity: 0.75;
  display: block;
}

