html,
body {
  height: 100%;
}
body {
  @include mq(medium) {
    font-size: 100%;
  }

  background: $body;

  color: $default-font;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 115%;
}


//////////////////
//  GRID  ///
////////////////
.grid {
  @include clearfix();

  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.col {
  display: inline;
  float: left;
  width: 100%;

  margin-bottom: 1.5em;

  @include mq(medium) {
    margin-bottom: 0;
  }
}

@include mq(medium) {
  .col.half {
    width: 50%;
  }
}



//////////////////
//  STRUCTURAL  ///
////////////////

.page-wrapper {
  position: relative;
  min-height: 100%;
}

.main-content {
  padding: 100px 0 150px;
}

.center {
  @include mq(medium) {
    padding: 0 15px;
  }

  max-width: 750px;
  margin: 0 auto;
  padding: 0 3%;

  overflow: visible;
}
