html,
body {
  height: 100%;
}
body {
  @include mq(medium) {
    font-size: 100%;
  }

  background: $body;

  color: $default-font;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 115%;
}

body.drawer-open {
  overflow: hidden;
}


//////////////////
//  GRID  ///////
////////////////
.grid {
  @include clearfix();

  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.col {
  @include mq(medium) {
    margin-bottom: 0;
  }

  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 1.5em;
}

@include mq(medium) {
  .col.half {
    width: 50%;
  }
}

.col.list {
  margin-bottom: 0;
}



//////////////////
//  JAVASCRIPT  /
/////////////////

// .js-animate.page {
//   display: none;
//   &.active {
//     display: block;
//   }
// }


// ///////////////////
// //  ANIMATIONS  ///
// ///////////////////

// .csstransforms.csstransitions .page {
//   opacity: 0;

//   transform: translateY(20px);
// }

// .csstransforms.csstransitions .page.ease {
//   opacity: 1;

//   transform: translateY(0);
//   -webkit-transition: opacity 0.8s ease, transform 0.35s ease-in-out;
// }

// .csstransforms.csstransitions .drawer .menu__drawer {
//   transform: translateY(-150px);
//   -webkit-transition: transform 0.35s ease-in-out;
// }

// .csstransforms.csstransitions .drawer.open .menu__drawer {
//   transform: translateY(50px);
//   -webkit-transition: transform 0.25s ease-out-in;
// }

// .no-csstransforms.no-csstransitions .drawer .menu__drawer {
//   top: -150px;
// }


