//////////////////
//  PAGE  ///////
////////////////

.page-wrapper {
  position: relative;
  min-height: 100%;
}

.main-content {
  padding: 30px 0 200px;
  width: 100%;
}

.feature-content {
  @include mq(medium) {
    position: fixed;
    top: 50%;
    height: 100%;

    transform: translateY(-30%);
  }

  position: relative;
  padding: 30px 0 200px;
  width: 100%;
}


.center {
  @include mq(medium) {
    padding: 0 15px;
  }

  max-width: 750px;
  margin: 0 auto;
  padding: 0 3%;

  overflow: visible;
  position: relative;
}


.js-animate.page {
  display: none;
  &.active {
    display: block;
  }
}

.csstransitions .page {
  opacity: 0;

  transform: translateY(20px);
}

.csstransitions .page.ease {
  opacity: 1;

  transform: translateY(0);
  -webkit-transition: opacity 0.8s ease, transform 0.35s ease-in-out;
}

//////////////////
//  SLIDE  //////
////////////////

.js-animate.slide {
  @include mq(medium) {
    display: none;
    &.active {
      display: block;
    }
  }

  display: block;
}

.js-animate__text {
  position: relative; 
}

// .csstransitions .slide .js-animate__text,
// .csstransitions .slide .js-animate__image {
//   -webkit-transition: opacity 0.8s ease, transform 0.35s ease-in-out;
// }

// .csstransitions .slide.out .js-animate__text,
// .csstransitions .slide.out .js-animate__image {
//   opacity: 0;
// }

// .csstransitions .slide.out {
//   &.top .js-animate__text {
//     transform: translateY(-20px);
//   }
//   &.bottom .js-animate__text {
//     transform: translateY(30px);
//   }
// }

// .csstransitions .slide.in .js-animate__text,
// .csstransitions .slide.in .js-animate__image {
//   opacity: 1;
//   transform: translateY(0)
// }

// .csstransitions .slide {
//   &.top .js-animate__text {
//     transform: translateY(-20px);
//   }
//   &.bottom .js-animate__text {
//     transform: translateY(30px);
//   }
// }

//////////////////
//  NAV  ////////
/////////////////

.main-nav {
  @include boxshadow();
  @include mq(medium) {
    padding: 0 30px;
  }

  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding: 0 3%;

  background-color: $white;

  z-index: 10;
}


.main-nav__home,
.main-nav__links {
  display: inline-block;
  width: 50%;
}

.main-nav__links {
  float: right;

  text-align: right;
}



//////////////////
//   MENU  //////
/////////////////

.menu--list li,
.menu__drawer li {
  height: 50px;
  margin-bottom: 0;
  padding: 0 20px;

  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 50px;
}


.no-touchevents .menu--list {
  @include mq(medium) {
    display: block;
  }

  display: none;
}

.touchevents .menu--list {
  display: none;
}

.no-touchevents .menu--burger {
  @include mq(medium) {
    display: none;
  }
}

.touchevents .menu--burger {
  display: block;
}


.menu__drawer {
  position: fixed;
  width: 100%;

  background: $light-grey;

  text-align: center;

  cursor: pointer;
  z-index: 9;
  li {
    height: 50px;

    border-bottom: 1px solid $grey;
    &:hover {
      background-color: $grey;
    }
  }
}


.drawer.open .overlay {
  display: block;
}

.csstransitions .drawer .menu__drawer {
  transform: translateY(-150px);
  -webkit-transition: transform 0.35s ease-in-out;
}

.csstransitions .drawer.open .menu__drawer {
  transform: translateY(0);
  -webkit-transition: transform 0.25s ease-out-in;
}

.no-csstransitions .drawer .menu__drawer {
  top: -150px;
}


//////////////////
//  FOOTER  /////
/////////////////


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 9em;
  width: 100%;
  padding-top: 1.25em;

  background-color: $footer-color;
}

.footer-content {
  margin: 0 auto;

  text-align: center;
}

.no-touchevents .footer {
  padding-top: 2em;
}

.no-touchevents .footer-content p {
  margin-bottom: 0;
}

