//////////////////
//  COLORS  ///
////////////////

$white: #FFF;
$black: #000;
$grey: #c3c3c3;
$light-grey: #e6e6e6;
$light-blue: #E8F3F5;

$default-font: #333333;
$body: $white;
$hover-color: $default-font;
$footer-color: $light-blue;