<div id="fullpage">
	<div class="js-animate section active" data-anchor="first-section">
	<h1 class="page__header">Hon Hamachi Yellowtail</h1>

		<div class="grid">
			<div class="col half">
				<div class="section__image">
					<img src="http://placehold.it/250x150" style="width:90%" />
				</div>
			</div>
			<div class="col half">
				<div class="section__text">
					<h2 class="section__header">Taste</h2>
					<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="js-animate section" data-anchor="second-section">
		<div class="grid">
			<div class="col half">
				<div class="section__image">
					<img src="http://placehold.it/250x150" style="width:90%" />
				</div>
			</div>
			<div class="col half">
				<div class="section__text">
					<h2 class="section__header">Two</h2>
					<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="js-animate section" data-anchor="third-section">
		<div class="grid">
			<div class="col half">
				<div class="section__image">
					<img src="http://placehold.it/250x150" style="width:90%" />
				</div>
			</div>
			<div class="col half">
				<div class="section__text">
					<h2 class="section__header">Three</h2>
					<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<a class="js-section-target"><img class="svg-icon arrow" src="/resources/images/arrow.svg" /></a>
