<h1 class="page__header">Hon Hamachi Yellowtail</h1>

<div class="js-animate slide active" data-slide="0">
	<div class="section">
		<div class="grid">
			<div class="col half">
				<div class="js-animate__image">
					<img src="http://placehold.it/250x150" style="width:90%" />
				</div>
			</div>
			<div class="col half">
				<div class="js-animate__text">
					<h2 class="section__header">Taste</h2>
					<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="js-animate slide" data-slide="1">
	<div class="section">
		<div class="grid">
			<div class="col half">
				<div class="js-animate__image">
					<img src="http://placehold.it/250x150" style="width:90%" />
				</div>
			</div>
			<div class="col half">
				<div class="js-animate__text">
					<h2 class="section__header">Two</h2>
					<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="js-animate slide" data-slide="2">
	<div class="section">
		<div class="grid">
			<div class="col half">
				<div class="js-animate__image">
					<img src="http://placehold.it/250x150" style="width:90%" />
				</div>
			</div>
			<div class="col half">
				<div class="js-animate__text">
					<h2 class="section__header">Three</h2>
					<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="arrow-icon small-hide" style="text-align:center; font-size:2em; color:#efefef">v</div>
