	<h1 class="page__header">Our Products</h1>

	<div class="section">
		<div class="grid">
			<div class="col half">
				<h2 class="section__header">Hon Hamachi Yellowtail</h2>
				<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
			</div>
			<div class="col half">
				<img src="http://placehold.it/250x150">
			</div>
		</div>
	</div>

	<div class="section">
		<div class="grid">
			<div class="col half">
				<h2 class="section__header">Hon Jake Salmon</h2>
				<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
			</div>
			<div class="col half">
				<img src="http://placehold.it/250x150">
			</div>
		</div>
	</div>	

	<div class="section">
		<div class="grid">
			<div class="col half">
				<h2 class="section__header">Blue Fin Tuna</h2>
				<p>Lorem ipsum dolor sit amet, ad definitiones interpretaris duo. Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.Et vivendum argumentum mel, propriae invidunt dignissim quo te, posse porro eum at.</p>
			</div>
			<div class="col half">
				<img src="http://placehold.it/250x150">
			</div>
		</div>
	</div>	

	<h2 class="section__header">Other</h2>

	<div class="section">
		<div class="grid">
			<div class="col half list">
					<ul class="bullets">
						<li>Bigeye Tuna ( Mebachi Maguro )</li>
						<li>Yellowfin Tuna (Kihada Maguro)</li>
						<li>Sea Bream-Farmed (Madai)</li>
						<li>Bigeye Tuna ( Mebachi Maguro )</li>
						<li>Yellowfin Tuna (Kihada Maguro)</li>
						<li>Sea Bream-Farmed (Madai)</li>
						<li>Bigeye Tuna ( Mebachi Maguro )</li>
						<li>Yellowfin Tuna (Kihada Maguro)</li>
						<li>Sea Bream-Farmed (Madai)</li>
					</ul>
			</div>
			<div class="col half">
				<ul class="bullets">
						<li>Alfonsino (Kinmedai)</li>
						<li>Whiting (Kisu)</li>
						<li>Gizzard (Kohada)</li>	
						<li>Alfonsino (Kinmedai)</li>
						<li>Whiting (Kisu)</li>
						<li>Gizzard (Kohada)</li>
						<li>Alfonsino (Kinmedai)</li>
						<li>Whiting (Kisu)</li>
						<li>Gizzard (Kohada)</li>
					</ul>
			</div>
		</div>
	</div>	
