	<header class="main-nav">
		<div class="main-nav__home">
			<a href="/" class="js-page-link" data-page="0"><img class="logo" src="http://placehold.it/50x50"></a>
		</div>

		<div class="main-nav__links">
			<ul class="inline small-hide">
				<li><a href="/about.html" class="js-page-link" data-page="1">About</a></li>
				<li><a href="/products.html" class="js-page-link" data-page="2">Products</a></li>
			</ul>
			<div class="small-reveal"><a href="#" style="height:50px; line-height:50px; font-size:1.5em">&#9776;</a></div>
		</div>
	</header>