//////////////////
//  LIST STYLES  ///
////////////////

ul {
	list-style-type: none;
}

ul.inline li {
	display: inline-block;
}

ul.bullets {
	list-style-type: disc;
}


//////////////////
//  UTILITIES  ///
////////////////

.small-hide {
	@include mq(small-only) {
		display: none;
	}
}

.small-reveal {
	@include mq(small-only) {
		display: block;
	}
	@include mq(medium) {
		display: none;
	}
}